@{
    ViewData["Title"] = "Home Page";
}


<div class="row justify-content-center">
    <div class="col-lg-6 text-center">
        <h2>Bienvenidx al <span>BingoNet</span> de Sole Alcorta</h2>
        <p>Proyecto realizado en el curso de Introducción a .Net 6, dictado por el Polo Tecnológico de Mina Clavero.</p>
        <a class="btn-get-started" asp-action="jugar" asp-controller="home">Jugar ahora</a>
    </div>
</div>

